<app-header (openSideNav)="openSideNav()"></app-header>
<app-sidenav
  [isOpen]="isSidenavOpen"
  (closeSideNav)="closeSideNav()"
></app-sidenav>
<!-- <mat-drawer-container class="example-container">
  <app-header (openSideNav)="openSideNav()"></app-header>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    <div class="head-logo">
      <button
        mat-fab
        aria-label="Example icon button with a delete icon"
        class="close-btn"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->
